            <h3>Changelog</h3>
            <h4 class="changelog-date">May 19, 2026</h4>
            <p>Fix correct wording about error in pattern matching in chapter 5. Thanks to <a href="https://github.com/huynguyenngocdang">https://github.com/huynguyenngocdang</a></p>

            <h4 class="changelog-date">May 19, 2026</h4>
            <p>Fix escape characters for operators in chapter 4. Thanks to <a href="https://github.com/bennamrouche">https://github.com/bennamrouche</a></p>

            <h4 class="changelog-date">May 12, 2026</h4>
            <p>Fix typo in chapter 2 and correct answer in question 10 of the same chapter. Thanks to <a href="https://github.com/bennamrouche">https://github.com/bennamrouche</a></p>

            <h4 class="changelog-date">May 12, 2026</h4>
            <p>Fix error in string builder example. Thanks to <a href="https://github.com/huynguyenngocdang">https://github.com/huynguyenngocdang</a></p>

            <h4 class="changelog-date">September 26, 2025</h4>
            <p>Fix error in chapter 13 about unnamed and automatic modules. Thanks to <a href="https://github.com/Alchemik">https://github.com/Alchemik</a></p>

            <h4 class="changelog-date">August 31, 2025</h4>
            <p>Fix errors in chapters 3 and 5. Thanks to <a href="https://github.com/Alchemik">https://github.com/Alchemik</a></p>

            <h4 class="changelog-date">March 24, 2025</h4>
            <p>Fix output of example of Function in chapter 8. Thanks to <a href="https://github.com/UninspiredNickname">https://github.com/UninspiredNickname</a></p>

            <h4 class="changelog-date">April 21, 2025</h4>
            <p>Improve operator precedence table in chapter 4.</p>

            <h4 class="changelog-date">March 24, 2025</h4>
            <p>Fix typo in question 5 of chapter 7. Thanks to <a href="https://github.com/rjuric-tn">https://github.com/rjuric-tn</a></p>

            <h4 class="changelog-date">February 13, 2025</h4>
            <p>Fix errors in chapters 4 and 11.</p>

            <h4 class="changelog-date">August 09, 2024</h4>
            <p>First version.</p>